extends ../templates/static

block content
  if error
    div.error-container #{error}
    
  section.content
    h3 Please login to continue

    form(action='/auth/login/gabba', enctype='application/x-www-form-urlencoded', method='post')

      .input-group
        input#username(type='text', name='username', placeholder='username')
      .input-group
        input#password(type='password', name='password', placeholder='password')

      button
        | Login
