$roboto = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-stack = $roboto
$font-size = 16

// BASE COLORS
$black = #222222
$black-dark = #090b0d
$white = #fff
$blue = #3297ca
$blue-highlight = #1681b7
$blue-text = #FFF
$grey = #4d5a5e
$grey-dark = #1f2326
$grey-light = #d3d7d8
$green = #5fbe15
$green-highlight = #436b24
$green-text = #ffffff
$yellow = #cbcb41
$yellow-highlight = #a2852f
$yellow-text = #13181b
$red = #ba3027
$red-highlight = #7c1c20
$red-text = #ffffff

// STATUS
$good = $green-primary
$good-text = $green-text
$bad = $red
$bad-text = $red-text
$warn = $yellow
$warn-text = $yellow-text
$hidden = $grey-dark
$ignore = $grey

$border-color = $grey-light


$color-primary = $blue
$color-primary-highlight = $blue-highlight
$color-primary-text = $blue-text

$color-primary-text = $white
$color-secondary = $black
$color-secondary-text = #FFF
$color-font = $color-secondary
$color-link = $blue
$color-link-hover = $blue-highlight

$color-page-bg = $white
