$roboto = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-stack = $roboto
$font-size = 14

// BASE COLORS
$black = #0e1112;
$black-dark = #090b0d;
$white = #FFF;
$grey = #4d5a5e;
$grey-dark = #1f2326;
$grey-light = #6d8086;

// THEME COLORS
$blue = #519aba;
$blue-highlight = #1d5b91;
$blue-text = #ffffff;

$green = #8dc149;
$green-highlight = #436b24;
$green-text = #ffffff;

$orange = #e37933;
$orange-highlight = #b55421;
$orange-text = #ffffff;

$pink = #f55385;
$pink-highlight = #63213f;
$pink-text = #ffffff;

$purple = #a074c4;
$purple-highlight = #4f397c;
$purple-text = #ffffff;

$red = #cc3e44;
$red-highlight = #7c1c20;
$red-text = #ffffff;

$steel = #7494a3;
$steel-highlight = #293c44;
$steel-text = #ffffff;

$yellow = #cbcb41;
$yellow-highlight = #a2852f;
$yellow-text = #13181b;

// STATUS
$good = $green-primary
$good-text = $green-text
$bad = $red
$bad-text = $red-text
$warn = $yellow
$warn-text = $yellow-text
$hidden = $grey-dark
$ignore = $grey

$border-color = $grey-light


$color-primary = $blue
$color-primary-highlight = $blue-highlight
$color-primary-text = $blue-text

$color-primary-text = $white
$color-secondary = $black
$color-secondary-text = #FFF
$color-font = $color-secondary
$color-link = $blue
$color-link-hover = $blue-highlight

$color-page-bg = $white
$color-chat-bg = $white
$color-sidebar-bg = $black
$color-input-bg = $white
