footer.mdl-mega-footer
  background-color: $black;

  // &__heading, &--heading




.mdl-mega-footer--heading, .mdl-mega-footer__heading
  color: #959494;
  margin-bottom: 10px;
  text-transform: uppercase;

.mdl-mega-footer--link-list a, .mdl-mega-footer__link-list a
  color: $white;
  line-height: 150%;
  // font-weight: 500;

.mdl-mega-footer__middle-section
  ul.mdl-mega-footer__link-list
    li
      display: inline-block;
      margin-right: 10px;

.mdl-mega-footer__bottom-section
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  border-top: 1px solid rgba(255,255,255, 0.1);
  padding: 20px 0;

  .logo
    display: inline-block;
    height: 40px;
    margin-right: 20px;

  .copyright
    color: #959494;
