h1, h2, h3, h4, h5, h6
  font-weight: 300;
  margin: 5px 0;
  padding: 0;
  line-height: initial;

h1
  font-size: 40px;
  font-weight: 100;

h2
  font-size: 33px;

h3
  font-size: 22px;

h5, h6
  margin: 3px 0;

a
  color: $color-link
  text-decoration: none;
  transform: 0.5s color;

  &:hover
    color: $color-link-hover
