* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: 0;
}
*::-moz-selection {
  background: #519aba;
  color: #fff;
}
*::selection {
  background: #519aba;
  color: #fff;
}
*:focus {
  outline: 0;
}
html {
  min-height: 100%;
  background-color: #fff;
}
body {
  background-color: #fff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0e1112;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 5px 0;
  padding: 0;
  line-height: initial;
}
h1 {
  font-size: 40px;
  font-weight: 100;
}
h2 {
  font-size: 33px;
}
h3 {
  font-size: 22px;
}
h5,
h6 {
  margin: 3px 0;
}
a {
  color: #519aba;
  text-decoration: none;
  transform: 0.5s color;
}
a:hover {
  color: #1d5b91;
}
input {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  transition: all .3s ease;
}
input:focus {
  box-shadow: 0 0 5px rgba(127,219,255,0.7);
  border: 1px solid #95d1e9;
  outline: none;
}
.input-group {
  display: block;
  margin: 10px 0;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
}
.input-group input {
  padding: 7px 3px;
  border: 0;
  border-bottom: solid 1px #6d8086;
  color: #4d5a5e;
  font-size: 13px;
  transition: 0.5s border;
}
.input-group input:focus {
  border-color: #519aba;
  color: #0e1112;
}
.input-group input:focus::-webkit-input-placeholder {
  color: #9ac4d7;
  font-weight: 300;
}
.input-group input::-webkit-input-placeholder {
  color: #6d8086;
  font-weight: 300;
}
button {
  background-color: #519aba;
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 10px 20px;
  transition: 0.5s background;
}
button:hover {
  background-color: #1d5b91;
  cursor: pointer;
}
body {
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.content,
.error {
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.mdl-button--raised.mdl-button--colored {
  background-color: #519aba;
}
.mdl-button--raised.mdl-button--colored:hover {
  background-color: #1d5b91;
}
.pad-right {
  padding-right: 20px;
}
.pad-left {
  padding-left: 20px;
}
.error-container {
  background: #cc3e44;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}
.error .highlight {
  color: #cc3e44;
}
header.main {
  background: #0e1112;
  color: #fff;
  height: 110px;
  padding: 20px;
}
header.main .left {
  position: relative;
  top: 15px;
}
header.main .left .logo {
  float: left;
  max-height: 40px;
  margin-top: -25px;
  padding-right: 20px;
}
header.main .left .condition-label {
  display: inline-block;
  float: left;
  height: 40px;
  margin-top: -32px;
  padding-right: 20px;
  text-align: center;
}
header.main .left .condition-label .condition {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  padding: 0px 10px;
  color: #d3d7d8;
}
header.main .left .condition-label .support {
  border-top: solid 1px #d3d7d8;
  display: block;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
}
header.main .left nav.main {
  margin-top: 40px;
}
header.main .left nav.main .nav-item {
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  transition: 0.5s opacity;
}
header.main .left nav.main .nav-item:hover {
  opacity: 0.6;
}
header.main .right {
  position: absolute;
  top: 0px;
  right: 10px;
}
header.main .right .logout,
header.main .right .settings {
  background: rgba(0,0,0,0.8);
  display: inline-block;
  padding: 10px 20px;
  margin: 0 1px;
}
header.main .right .status {
  color: #6d8086;
  margin: 8px 15px;
}
footer.mdl-mega-footer {
  background-color: #0e1112;
}
.mdl-mega-footer--heading,
.mdl-mega-footer__heading {
  color: #959494;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.mdl-mega-footer--link-list a,
.mdl-mega-footer__link-list a {
  color: #fff;
  line-height: 150%;
}
.mdl-mega-footer__middle-section ul.mdl-mega-footer__link-list li {
  display: inline-block;
  margin-right: 10px;
}
.mdl-mega-footer__bottom-section {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 20px 0;
}
.mdl-mega-footer__bottom-section .logo {
  display: inline-block;
  height: 40px;
  margin-right: 20px;
}
.mdl-mega-footer__bottom-section .copyright {
  color: #959494;
}
gabba-feed {
  background: #333;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
gabba-feed main {
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
gabba-feed main gabba-input {
  background: #fff;
  margin-bottom: auto;
  min-height: 60px;
}
gabba-feed main gabba-input input {
  padding: 7px 3px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-top: solid 1px #6d8086;
  color: #4d5a5e;
  min-height: 60px;
  width: 100%;
  font-size: 13px;
  padding-left: 10px;
  transition: 0.5s border;
}
gabba-feed main gabba-input input:focus {
  box-shadow: none;
  border: 0;
  border-top: solid 1px #519aba;
  color: #0e1112;
  outline: none;
}
gabba-feed main gabba-input input:focus::-webkit-input-placeholder {
  color: #9ac4d7;
  font-weight: 300;
}
gabba-feed main gabba-input input::-webkit-input-placeholder {
  color: #6d8086;
  font-weight: 300;
}
gabba-feed main gabba-chat {
  background: #fff;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin-top: auto;
  padding: 10px;
}
gabba-sidebar {
  background: #0e1112;
  color: #fff;
  min-width: 200px;
  padding: 10px;
}

/*# sourceMappingURL=styles.css.map */
