html, body
  font-family "Roboto", "Helvetica Neue", "Helvetica", "Arial"
  font-size 14px
  margin 0
  padding 0

a
  color #9c18f0
  transition 0.5s color
  &:hover
    color #000

.content
  padding 20px

  h1
    color #9c18f0
    font-size 40px
    font-weight 100
    margin 0

  h2
    font-weight 300
