html
  head
    title Gabba
    meta(name='viewport', content='width=device-width, initial-scale=1')
      
    include icons
      
    //- LIB
    //- script(src='#{config.public.lib}material-design-lite/material.js')

    //- STYLES
    //- link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-purple.min.css")
    
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,300italic,400italic,500italic', rel='stylesheet')

    link(rel='stylesheet', href='#{config.public.css}styles.css')      

  body
