script(src='/socket.io/socket.io.js')
script.
  System.config({
    packages: {
      app: {
        format: 'register',
        defaultExtension: 'js'
      },
      "lib/ng2-cookies": {
        "defaultExtension": "js"
      }
    },
    paths: {
      "ng2-cookies/ng2-cookies":   "lib/ng2-cookies/ng2-cookies"
    }
  });

  System.import('/app/gabba.js').then(null, console.error.bind(console));
